*{margin: 0;padding: 0;block-size: border-box;}

html, body {overflow: hidden;}
body{position: relative; z-index: 1;}

#room{}
#app canvas{width: 100%;height: 100%;}

#text-container{display: none ;position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; z-index: 2;}