@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    *, html, body{
        @apply box-border; 
        @apply m-0 p-0;
    }
    html,body{
        @apply overflow-hidden;
    }
    
    body{
        @apply w-full h-full h-[100vh];
    }
/*
    #app,
    #face-recognition{
        @apply border-red-500 border-2;  
    }*/
    #app{
        @apply relative;
        /*transform: translateY(150px);*/
    }

    
    #text_container{
        @apply absolute top-0 left-0 w-full h-full z-20;
        @apply pointer-events-none;
    }

    #text_container .text{
        @apply absolute left-0 -bottom-1/4;
    }
    #text_container .text-line-code{
        /* @apply border-b-2 border-red-500; */
        @apply text-lg sm:text-xl font-bold;
        @apply bg-gradient-to-r bg-clip-text text-transparent animate-text;
        /* --tw-gradient-to: rgb(124 45 18 / 0)  var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), #7c2d12 var(--tw-gradient-via-position), var(--tw-gradient-to); */
            
        
    }
    #text_container .text-blink-it{}


    #presentation_container{
        @apply absolute left-0 top-0 w-full h-[100vh] z-30;
        @apply p-10;
        @apply bg-white flex flex-col items-center space-y-10;
        /*@apply hidden;*/
    }
    #hideButton{
        @apply text-black bg-lime-400 px-10;
    }

    #presentation_container #cube_container{
        width: 50px;
        height: 50px;
        perspective: 350px;
        margin: 0;
    }
    #presentation_container #cube {
        position: relative;
        width: 50px;
        height: 50px;
        transform-style: preserve-3d;
        transform: rotate3d(1, 1, 0, 45deg);
        animation: turn 5s linear infinite;
    }
    #presentation_container .face {
        width: 50px;
        height: 50px;
        background: black;
        border: 2px solid black;
        position: absolute;
        /* opacity: 0.5; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, sans-serif;
        font-size: 2rem;
    }
    #presentation_container #cube .front {
        transform: translateZ(25px);
    }
    #presentation_container #cube .back {
        transform: translateZ(-25px) rotateY(180deg);
    }
    #presentation_container #cube .left {
        transform: translateX(-25px) rotateY(-90deg);
    }    
    #presentation_container #cube .right {
        transform: translateX(25px) rotateY(90deg);
    }
    #presentation_container #cube .top {
        transform: translateY(-25px) rotateX(90deg);
    }      
    #presentation_container #cube .bottom {
        transform: translateY(25px) rotateX(-90deg);
    }

    #presentation_container #presentation{
        @apply flex flex-col items-center space-y-5 text-center;
    }
    #presentation_container #presentation .title{
        @apply text-3xl;
    }
    #presentation_container #presentation .subtitle{
        @apply text-xl lg:text-2xl;
    }
    #presentation_container .instructions_container{
        @apply max-w-lg text-lg;
    }
    #presentation_container .instructions_container ul{
        @apply list-disc list-inside;
    }

    @keyframes turn {
        from { transform: rotate3d(0, 0, 0, 0); }
        to { transform: rotate3d(1, 1, 0, 360deg); }
      }
      
      
          

      

    
    

    #canvas{
        @apply absolute top-0 left-0 w-full h-full z-10;
    }
    #strobe_container{
        @apply absolute top-0 left-0 w-full h-[100vh] z-30;
    }

    /* FACE RECOGNITION */
    #webcam{
        @apply absolute;
        @apply hidden; 
    }
    #output_canvas{
        @apply absolute left-0 top-0;
        @apply hidden;
    }

    .blend-shapes{
        @apply w-full;
    }
    #video-blend-shapes{
        /* @apply flex; */
    }
}